<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
 /* checked: isChecked*/
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">

    <div class="payment-method-title field choice">
        <input  payplus-data-method="credit-card" type="radio" name="payment[method]" class="radio payplus-select-method"
            data-bind="attr: {'id': getCode()+'credit-card'}, value: getCode()+'credit-card',  click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label class="label" data-bind="attr: {'for': getCode()+'credit-card'}">
            <!-- ko if :(bShowPayplusLogo('payplus_gateway') == false) -->
            <img class="payplus-logo-image"
                data-bind="attr: { src: require.toUrl('Payplus_PayplusGateway/images/payplus.svg') }" />
            <!-- /ko -->
            <span data-bind="text: getTitle('payplus_gateway')"></span>
        </label>
    </div>
    <!-- ko if :(getActive('bit')==1) -->
    <div class="payment-method-title field choice">
        <input payplus-data-method="bit" type="radio" name="payment[method]" class="radio payplus-select-method"
               data-bind="attr: {'id': getCode()+'bit'}, value: getCode()+'bit', click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label class="label" data-bind="attr: {'for': getCode()+'bit'}">
            <!-- ko if :(bShowPayplusLogo('bit') == false) -->
            <img class="payplus-logo-image"
                 data-bind="attr: { src: require.toUrl('Payplus_PayplusGateway/images/bit.svg') }" />
            <!-- /ko -->
            <span data-bind="text: getTitle('bit')"></span>
        </label>
    </div>
    <!-- /ko -->
    <!-- ko if :(getActive('google_pay')==1) -->
    <div class="payment-method-title field choice">
        <input payplus-data-method="google_pay" type="radio" name="payment[method]" class="radio payplus-select-method"
               data-bind="attr: {'id': getCode()+'google_pay'}, value: getCode()+'google_pay', click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label class="label" data-bind="attr: {'for': getCode()+'google_pay'}">
            <!-- ko if :(bShowPayplusLogo('google_pay') == false) -->
            <img class="payplus-logo-image"
                 data-bind="attr: { src: require.toUrl('Payplus_PayplusGateway/images/google_pay.svg') }" />
            <!-- /ko -->
            <span data-bind="text: getTitle('google_pay')"></span>
        </label>
    </div>
    <!-- /ko -->
    <!-- ko if :(getActive('apple_pay')==1) -->
    <div class="payment-method-title field choice">
        <input payplus-data-method="apple_pay" type="radio" name="payment[method]" class="radio payplus-select-method"
               data-bind="attr: {'id': getCode()+'apple_pay'}, value: getCode()+'apple_pay', click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label class="label" data-bind="attr: {'for': getCode()+'apple_pay'}">
            <!-- ko if :(bShowPayplusLogo('apple_pay') == false) -->
            <img class="payplus-logo-image"
                 data-bind="attr: { src: require.toUrl('Payplus_PayplusGateway/images/apple_pay.svg') }" />
            <!-- /ko -->
            <span data-bind="text: getTitle('apple_pay')"></span>
        </label>
    </div>
    <!-- /ko -->
    <!-- ko if :(getActive('multipass')==1) -->
    <div class="payment-method-title field choice">
        <input payplus-data-method="multipass" type="radio" name="payment[method]" class="radio payplus-select-method"
               data-bind="attr: {'id': getCode()+'multipass'}, value: getCode()+'multipass', click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label class="label" data-bind="attr: {'for': getCode()+'multipass'}">
            <!-- ko if :(bShowPayplusLogo('multipass') == false) -->
            <img class="payplus-logo-image"
                 data-bind="attr: { src: require.toUrl('Payplus_PayplusGateway/images/multipass.svg') }" />
            <!-- /ko -->
            <span data-bind="text: getTitle('multipass')"></span>

        </label>
    </div>
    <!-- /ko -->
    <!-- ko if :(getActive('paypal')==1) -->
    <div class="payment-method-title field choice">
        <input payplus-data-method="paypal" type="radio" name="payment[method]" class="radio payplus-select-method"
               data-bind="attr: {'id': getCode()+'paypal'}, value: getCode()+'paypal', click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label class="label" data-bind="attr: {'for': getCode()+'paypal'}">
            <!-- ko if :(bShowPayplusLogo('paypal') == false) -->
            <img class="payplus-logo-image"
                 data-bind="attr: { src: require.toUrl('Payplus_PayplusGateway/images/paypal.svg') }" />
            <!-- /ko -->
            <span data-bind="text: getTitle('paypal')"></span>
        </label>
    </div>
    <!-- /ko -->
    <!-- ko if: (getIframeURL()) -->
    <iframe
        allowpaymentrequest
        data-bind="attr: {  src: getIframeURL() },style:{height: window.checkoutConfig.payment.payplus_gateway.iframe_height+'px'}"
        id="pp-iframe"></iframe>
    <!--/ko-->
    <!-- ko ifnot: (getIframeURL()) -->
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() -->
        <!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() -->
            <!-- /ko -->
            <!--/ko-->
        </div>
        <!--<form id="purchaseorder-form" class="form form-purchase-order" data-role="purchaseorder-form">
            <fieldset class="fieldset payment method" data-bind='attr: {id: "payment_form_" + getCode()}'>
                <div class="field field-number required">
                    <div class="control">
                        <div class="name-info">
                            <input type="text" id="purchaseorder_payplus_method_req" name="payment[payplus_method_req]" class="input-text" placeholder="Purchase Order Comment" value="" data-bind="attr: {title: $t('Purchase Order Comment'),'data-container': getCode() + '-payplus_method_req'},valueUpdate: 'keyup'"/>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>-->
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout" type="submit" data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()}
                        ">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
        <!-- ko if: (isVaultEnabled())-->
        <div class="field choice">
            <input type="checkbox" name="vault[is_enabled]" class="checkbox"
                data-bind="attr: {'id': getCode() + '_enable_vault'}, checked: vaultEnabler.isActivePaymentTokenEnabler" />
            <label class="label" data-bind="attr: {'for': getCode() + '_enable_vault'}">
                <span>
                    <!-- ko i18n: 'Save credit card for later use.'-->
                    <!-- /ko -->
                </span>
            </label>
        </div>
        <!-- /ko -->
    </div>
    <!--/ko-->

</div>
